{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Contact us form title and info -->
<div class="container">
    <div id="index-splash" class="row justify-content-center text-light">
        <div id="text-column" class="col-9 col-md-7 col-lg-5 col-xl-4 bg-dark text-center border-top border-bottom border-end border-dark-subtle border-3">
            <div class="row">
                <div class="top-banner col pt-3 pb-2">
                    <h1 class="text-3xl md:text-4xl mb-2 font-title text-brown-600">
                    Contact Us
                    </h1>
                    <p>Your comments are appreciated!</p>
                </div>
            </div>
            <div class="row">
                <div class="opening-times col pt-2">
                    <!-- Contact us form -->
                    <form action="{% url 'contact' %}" method="post" id="contact-form">
                    {% csrf_token %}
                    <!-- User Input -->
                    <div class="mb-4 flex flex-col sm:flex-row">
                        <div class="mb-4">
                            <label for="first-name" class="">First Name</label>
                            <input
                            type="text"
                            id="first-name"
                            name="first-name"
                            class="border border-black w-36"
                            maxlength="10"
                            required>
                        </div>
                        <div>
                            <label for="last-name" class="sm:ml-4">Last Name</label>
                            <input
                            type="text"
                            id="last-name"
                            name="last-name"
                            class="border border-black w-36"
                            maxlength="12"
                            required>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="email" class="form-item">Email Address</label>
                        <input
                        type="email"
                        id="email"
                        name="email"
                        class="border border-black w-80"
                        maxlength="30"
                        required>
                    </div>
                    <div class="mb-12">
                        <label for="message" class="">Your Comment</label>
                        <br>
                        <textarea
                        id="message"
                        name="message"
                        class="border border-black w-full h-48"
                        maxlength="2500"
                        required></textarea>
                    </div>  
                    </form>
                </div>
            <div class="row">
                <div class="bottom-banner col pt-3">
                    <button type="submit" class="btn btn-lg submit-button" aria-label="Submit booking">Submit</button>
                </div>
            </div>
         </div>
        </div>
    </div>        
</div>            
{% endblock%}